<template>
  <GridLayout rows="200, 300" verticalAlignment="bottom">
    <StackLayout row="0" backgroundColor="black"/>
    <StackLayout row="1" backgroundColor="grey"/>
  </GridLayout>
</template>

<script>

export default {
  name: "DraggableRootContent"
}
</script>

<style scoped>

</style>
