<template>
    <Page actionBarHidden="true">
        <RootLayout>
           <Button @tap="openRootLayout" text="openRootLayout"/>
        </RootLayout>
    </Page>
</template>

<script>
import {getRootLayout, CoreTypes} from "@nativescript/core";
import {screen} from "@nativescript/core/platform";
import Vue from "nativescript-vue";
const EASE_OUT_ANIMATION = CoreTypes.AnimationCurve.easeOut
import DraggableRootContent from "~/components/DraggableRootContent.vue";
export default {
  methods: {
    openRootLayout() {
      let view = new Vue({
        render: h => h
        (
            DraggableRootContent, {
              props: {

              }
            }
        )
      }).$mount().$el.nativeView
      getRootLayout()
          .open(view, {
            shadeCover: {
              color: '#000',
              opacity: 0.35,
              tapToClose: true
            },
            animation: {
              enterFrom: {
                translateY: screen.mainScreen.heightDIPs,
                curve: EASE_OUT_ANIMATION,
                duration: 5000
              },
              exitTo: {
                translateY: screen.mainScreen.heightDIPs,
                curve: EASE_OUT_ANIMATION,
                duration: 5000
              }
            },
          }).catch(e => {
        console.log(e)
      })
      view.on('close', () => {
        getRootLayout().close(view)
      })
    }
  },
  computed: {
    message() {
      return "Blank {N}-Vue app";
    }
  }
};
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
</style>
